body{
  background-color: purple;
}
.Title{
  color: white;
  text-align: center;
}
.App{
  background-color: #3f3160;
  min-height: 600px;
  width: 400px;
  margin: 40px auto;
  border-radius: 20px;
  border-color: white;
}
 #to-do-form input{
   background-color: darkmagenta;
   border: 0;
   width: 200px;
   height: 50px;
   padding: 0 20px;
   margin: 20px;
   font-size: 18px;
   border-radius: 10px;
   color: #fff;
 }
 #to-do-form input::placeholder{
   color: rgb(250, 245, 248);
 }
 #to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  height: 40px;
  width: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #bf07;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}













